<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SubjectDao">
    <select id="findAll" resultType="subject">

        select * from exam.subject
        <where>
            <if test="choose != null &amp;&amp; choose != ''">
                choose = #{choose}
            </if>
        </where>
    </select>
</mapper>